* {
  padding: 0;
  margin: 0;
  outline: none;
  box-sizing: border-box;
}
body {
  background-color: #ccccccc3;
  font-family: sans-serif;
}
.container {
  margin: 60px auto;
  width: 50%;
  background-color: #fff;
  padding: 10px;
}
input {
  display: none;
}
.lists {
  display: flex;
  gap: 5px;
  justify-content: space-around;
  margin-bottom: 15px;
}
.lists div {
  padding: 10px 15px;
  background-color: #ccccccc3;
  transition: all 0.2s linear;
}
.lists div:hover {
  background-color: #3499dc;
  color: #fff;
}
.content {
  background-color: #ccccccc3;
  transform-origin: top;
}

.page_2,
.page_3,
.page_4 {
  display: none;
}
.contents:nth-of-type(1):checked ~ .page_1,
.contents:nth-of-type(2):checked ~ .page_2,
.contents:nth-of-type(3):checked ~ .page_3,
.contents:nth-of-type(4):checked ~ .page_4 {
  animation: flip 0.5s linear;
  display: block;
}
.contents:nth-of-type(2):checked ~ .page_1,
.contents:nth-of-type(3):checked ~ .page_1,
.contents:nth-of-type(4):checked ~ .page_1 {
  display: none;
}
@keyframes flip {
  from {
    transform: rotateX(0deg);
  }
  50% {
    transform: rotateX(-90deg);
  }
  to {
    transform: rotateX(0deg);
  }
}
