* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}
.play-btn {
  text-align: center;
  margin-top: 30px;
  font-size: 1.5rem;
  cursor: pointer;
}
.player {
  max-width: 90%;
  margin: 30px auto;
  display: flex;
  gap: 10px;
  align-items: center;
}
.progress-bar {
  width: 90%;
  height: 10px;
  background-color: gray;
  position: relative;
  cursor: pointer;
}

.progress {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 0;
  background-color: red;
}

.progress-bar .progress span {
  width: 15px;
  height: 15px;
  display: block;
  background-color: blueviolet;
  position: absolute;
  right: 0;
  top: -1.5px;
  border-radius: 50%;
  translate: 50%;
  cursor: pointer;
}
.progress-bar .timer {
  position: absolute;
  top: -100%;
  left: 0;
  translate: -50% 0px;
  background: #000;
  color: #fff;
  font-size: 0.5rem;
  display: none;
  margin-bottom: 15px;
}
