* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.btn span {
  position: relative;
  z-index: 1;
}
.btn {
  display: block;
  margin: 30px auto;
  padding: 10px 30px;
  border: none;
  color: #fff;
  font-size: 1.1rem;
  background-color: green;
  border-radius: 10px;
  /* transition: background-color 0.4s ; */
  position: relative;
  overflow: hidden;
}
.btn::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 100%;
  background-color: red;
  border-radius: 10px;
  transition: all 0.8s linear;
}
.btn::after {
  content: "";
  position: absolute;
  top: 0;
  left: 100%;
  bottom: 0;
  right: 0;
  background-color: red;
  border-radius: 10px;
  transition: all 0.8s linear;
}
.btn:hover::before {
  right: 0;
}
.btn:hover::after {
  left: 0;
}
/* .btn:hover {
  background-color: red;
} */
