.header {
  box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.15);

  .menu ul {
    display: flex;
    justify-content: flex-end;
    li {
      margin: 0 30px;
      a {
        font-size: 20px;
        font-style: normal;
        font-weight: 600;
        line-height: 26px;
        &.active {
          color: $primaryColor;
        }
        &:hover {
          @extend .active;
        }
      }
    }
  }
  .header-icon {
    display: flex;
    justify-content: space-between;
    .cart {
      position: relative;
      span {
        position: absolute;
        top: -7px;
        right: -7px;
        background-color: $secondaryColor;
        border-radius: 50%;
        width: 20px;
        height: 20px;
        text-align: center;
        font-size: 1.3rem;
        color: #fff;
        font-weight: 500;
        line-height: 20px;
      }
    }
    .bar {
      height: 30px;
      i {
        font-size: 22px;
        line-height: 30px;
      }
    }
  }
  .row {
    > [class^="col-"] {
      margin-bottom: 0;
    }
  }
}
@media (max-width: 1399.9px) {
  .container {
    --container-width: 1200px;
  }
}
@media screen and (max-width: 992px) {
  .header {
    padding: 15px 0;
    .col-lg-9 {
      display: none;
    }
    .bar {
      display: block;
    }
  }
}
.welcome-section {
  overflow: hidden;
  .row {
    align-items: center;
    justify-content: center;
    > [class^="col-"] {
      margin-bottom: 0;
    }
  }

  .inner-welcome {
    h2 {
      font-size: 44px;
      font-style: normal;
      font-weight: 800;
      line-height: 131.523%; /* 57.87px */
    }
    h1 {
      font-size: 52px;
      font-style: normal;
      font-weight: 800;
      line-height: normal;
      margin-top: 20px;
    }
    p {
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 24.5px; /* 153.125% */
      margin-top: 32px;
      width: 80%;
    }
  }
  .right {
    position: relative;
    background-color: #dcffca;
    width: 50vw;
    border-radius: 20px 0px 0px 20px;

    .img-container {
      position: absolute;
      top: 0;
      left: 0;
      translate: -22%;
      width: 95%;
    }
    p {
      padding: 180px 0;
      font-size: 150px;
      font-style: normal;
      font-weight: 800;
      line-height: 100%; /* 200px */
      opacity: 0.15000000596046448;
      rotate: 90deg;
      translate: 25%;
      text-align: center;
    }
  }
}
@media (max-width: 1399.9px) {
  .welcome-section {
    .right {
      .img-container {
        width: 80%;
      }
      p {
        font-size: 120px;
      }
    }
  }
}
@media (max-width: 1199.9px) {
  .welcome-section {
    .inner-welcome {
      h2 {
        font-size: 3rem;
      }
      h1 {
        font-size: 4.4rem;
      }
      p {
        font-size: 1.3rem;
      }
    }
    .right {
      .img-container {
        width: 90%;
      }
      p {
        font-size: 100px;
        padding: 150px 0;
      }
    }
  }
}
@media (max-width: 991.9px) {
  .welcome-section {
    .inner-welcome {
      h2 {
        font-size: 2.2rem;
      }
      h1 {
        font-size: 3.4rem;
      }
      p {
        font-size: 1.3rem;
      }
    }
    .right {
      .img-container {
        width: 80%;
      }
      p {
        font-size: 80px;
        padding: 100px 0;
      }
    }
  }
}
@media (max-width: 767.9px) {
  .welcome-section {
    .inner-welcome {
      h2 {
        font-size: 2rem;
      }
      h1 {
        font-size: 2.8rem;
      }
      p {
        width: 100%;
      }
    }
    .right {
      .img-container {
        width: 80%;
        top: 50%;
        translate: -20% -50%;
      }
    }
  }
}
@media (max-width: 575.9px) {
  .welcome-section {
    .row {
      align-items: flex-start;
      justify-content: flex-start;
      margin-top: 15px;
    }
    .col-6:last-child {
      display: none;
    }
    .inner-welcome {
      p {
        width: 90%;
      }
    }
  }
}
.quanlity-section {
  padding: 120px 0 100px 0;
  .row {
    > [class^="col-"] {
      margin-bottom: 0;
    }
    --column-space: 26px;
    .col-lg-3 {
      position: relative;
    }
    .col-lg-3:first-child::before,
    .col-lg-3:last-child::after {
      content: "";
      width: 282px;
      height: 282px;
      border-radius: 282px;

      display: block;

      z-index: -1;
      position: absolute;
    }
    .col-lg-3:first-child::before {
      background-color: #dcffca;
      top: -141px;
      left: -136px;
    }
    .col-lg-3:last-child::after {
      background-color: #ffd5bd;
      bottom: -170px;
      right: -135px;
    }
    .col-lg-3:nth-child(2) {
      .item {
        height: 471px;
      }
      .icon-img {
        background-color: #f2ffec;
      }
    }
  }
  .heading {
    text-align: center;
    h2 {
      font-size: 38px;
      font-style: normal;
      font-weight: 800;
      line-height: 131.523%; /* 49.979px */
    }
  }
  .heading-desc {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24.5px; /* 153.125% */
  }
  .list-item {
    justify-content: center;
    align-items: center;
    margin-top: 170px;
  }
  .item {
    width: 353px;
    height: 405px;
    border-radius: 4px;
    padding: 40px;
    background: var(--white, #fff);
    box-shadow: -7px 10px 87px 0px rgba(54, 54, 54, 0.12);
    .icon-img {
      width: 100px;
      height: 100px;
      border-radius: 12px;
      background-color: #fff0e7;
      position: relative;
      img {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }
    h3 {
      font-size: 52px;
      font-style: normal;
      font-weight: 800;
      line-height: normal;
      margin-top: 28px;
    }
    p {
      font-size: 24px;
      font-style: normal;
      font-weight: 400;
      line-height: 37px; /* 154.167% */
      margin-top: 29px;
    }
  }
}

.product-section {
  padding: 120px 0 100px 0;
  .row {
    > [class^="col-"] {
      margin-bottom: 250px;
      margin-left: 1px;
    }
    --column-space: 26px;
    .col-lg-3 {
      position: relative;
      text-align: center;
      &::before {
        content: "";
        width: 323.179px;
        height: 323.179px;
        display: block;
        background-color: #ffba94;
        border-radius: 323.179px;
        position: absolute;
        top: -137px;
        z-index: -1;
      }
      &:nth-of-type(2)::before,
      &:nth-of-type(5)::before {
        background-color: #c5ffa8;
      }
    }
    --column-space: 50px;
  }
  .product-list {
    justify-content: center;
    align-items: center;
    .product-item {
      display: flex;
      flex-direction: column;
      gap: 5px;
      .product-img {
        margin-bottom: 20px;
      }
      h3 {
        font-size: 28px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
      }
      .wrap-line {
        position: relative;
        .line {
          width: 49px;
          height: 3px;
          background-color: #a3a3a3;
          display: block;
          position: absolute;
          left: 50%;
          transform: translate(-50%);
        }
      }
      p {
        margin-top: 8px;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: 26px;
        span {
          font-size: 28px;
          font-style: normal;
          font-weight: 600;
          line-height: 32px;
        }
      }
      .desc {
      }
      button {
        display: block;
        margin-top: 32px;
        padding: 16px 14px;
        border-radius: 8px;
        background-color: #46b20f;
        font-size: 20px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        color: #fff;
        margin-top: auto;
      }
    }
  }
}
