/* h1 ~ ul {
  color: red;
} */
/* h2 ~ p,
h2 ~ .children p {
  color: red;
} */
/* .todoList input:checked ~ span {
  color: red;
} */
/* .menu li ~ li a {
  color: red;
} */
/* .menu li ~ li ~ li a {
  color: red;
} */
/* .element h1 + .content p {
  color: red;
} */
/* .links li a[href*="fullstack.edu.vn"] {
  color: red;
} */
/* div[class^="col"] {
  color: red;
} */
/* .title::before {
  content: "";
  width: 34px;
  height: 34px;
  border: 2px solid red;
  display: block;
  position: absolute;
}
h1 {
  position: relative;
}
.title::after {
  content: "";
  width: 40px;
  height: auto;
  border: 2px solid red;
  display: block;
  position: absolute;
  left: 100px;
} */
/* .content p::first-letter {
  font-size: 40px;
  color: red;
} */
/* .name {
  padding: 12px;
}
.name::placeholder {
  color: #ccc;
  font-size: 18px;
} */
/* .btn-login {
  padding: 8px 16px;
}
.btn-login:active {
  background-color: black;
  color: yellow;
} */
/* .list li:nth-child(2n) {
  color: red;
} */
/* first-of-type :  chon cung loai dau tien */
/* .product h2:first-child {
  color: green;
} */
/* .content h2:not(.active) {
  color: red;
} */

/* .lists button:nth-child(1):focus ~ .content {
  color: red;
}
.lists button:nth-child(2):focus ~ .content {
  color: green;
}
.lists button:nth-child(3):focus ~ .content {
  color: blue;
} */
.color:nth-of-type(1):checked ~ .content {
  color: red;
}

.color:nth-of-type(2):checked ~ .content {
  color: green;
}

.color:nth-of-type(3):checked ~ .content {
  color: blue;
}

/* .color {
  display: none;
} */
