* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: none;
}

.paragraph {
  width: 1200px;
  margin-bottom: 10px;
}

.paragraph label {
  display: inline-block;
  width: 100%;
  background-color: #d95926;
  color: #fff;
  font-size: 18px;
  padding: 14px 18px;
  font-weight: 400;
  user-select: none;
}

.paragraph label i.fa-minus {
  display: none;
}

.paragraph .content {
  padding: 14px 18px;
  font-size: 18px;
  line-height: 1.4;
  box-shadow: 1px 1px 1px rgba(116, 112, 112, 0.149);
  transition: 0.3s ease-in-out;
  display: none;
}

.paragraph input:checked ~ label i.fa-minus {
  display: inline-block;
}

.paragraph input:checked ~ label i.fa-plus {
  display: none;
}

.paragraph input:checked ~ .content {
  display: block;
}

input[type="checkbox"] {
  display: none;
}
