.container {
  --container-width: 1440px;
}
.align-center {
  align-items: center;
}
.hidden {
  display: none;
}
.padding-top-bottom {
  padding-top: 130px;
  padding-bottom: 130px;
}
.inline-block {
  display: inline-block;
}
