.container {
  --container-width: 1440px;
}
.align-center {
  align-items: center;
}
.text-center {
  text-align: center;
}
.hidden {
  display: none;
}
.padding-top-bottom {
  padding-top: 130px;
  padding-bottom: 130px;
}
.inline-block {
  display: inline-block;
}
.m-25 {
  margin-left: 25%;
}
.t-30 {
  margin-top: 30px;
}
.b-60 {
  margin-bottom: 60px;
}

$bearkponits: (
  sm: 576,
  md: 768,
  lg: 992,
  xl: 1200,
  xxl: 1400,
);
@mixin display($name: "") {
  $prefix: "d-";
  @if ($name != "") {
    $prefix: $prefix + $name + "-";
  }
  .#{$prefix}none {
    display: none;
  }
  .#{$prefix}block {
    display: block;
  }
}

@include display();
