@media (max-width: 575px) {
  input,
  main {
    width: 100%;
  }
}
@media (min-width: 576px) {
  input,
  main {
    width: 80%;
  }
  main {
    margin-left: 10%;
  }
}
body {
  font-family: "Lato", sans-serif;
}
header {
  text-align: center;
}
form {
  margin: 0;
}
input:focus,
input:hover {
  border: solid 1px crimson;
  box-shadow: 0 0 5px -1px crimson;
  background-color: rgba(220, 20, 60, 0.05);
}
input {
  padding: 20px;
  border: solid 1px rgba(220, 20, 60, 0.52);
  margin: 10px 0;
  transition: box-shadow 1s, background-color 2s;
}
li {
  list-style: none;
  border: solid 1px rgba(220, 20, 60, 0.52);
  margin: 3px 0;
  color: gray;
  transition: margin 0.5s, background-color 2s;
}
li:hover {
  border: solid 1px rgba(220, 20, 60, 0.8);
  background-color: rgba(220, 20, 60, 0.05);
  box-shadow: 0 0 2px -1px crimson;
  margin: 3px 0 3px 10px;
}
.list-elm-head {
  float: left;
  margin: 20px;
}
.list-elm-body {
  margin-left: 50px;
  padding: 20px 20px 20px 20px;
  border-left: solid 1px rgba(220, 20, 60, 0.52);
}
ul {
  margin: 0;
  padding: 0;
}
li > span.text {
  padding-right: 20px;
}
li > div > span.delete {
  float: right;
  border: solid 1px crimson;
  border-radius: 50%;
  padding: 5px;
  width: 7px;
  height: 7px;
  line-height: 5px;
  color: crimson;
  cursor: pointer;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
