.posts .post-item {
  border-bottom: 1px solid #ddd;
  padding-bottom: 15px;
}
.posts .post-item img {
  width: 400px;
  height: auto;
  float: left;
  margin-right: 10px;
}
.posts .post-item img.right {
  float: right;
}
.posts .post-item::after {
  content: "";
  display: block;
  clear: both;
}
