<h1>Dang nhap</h1>
<form action="" method="post">
  <div>
    <label for="">Email</label>
    <div>
      <input type="text" name="email" placeholder="email..." />
    </div>
    <%= getError(errors , "email") %>
  </div>
  <div>
    <label for="">Password</label>
    <div>
      <input type="password" name="password" placeholder="password..." />
    </div>
    <%= getError(errors , "password") %>
  </div>
  <button>Login</button>
</form>
