* {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
}
img {
  max-width: 100%;
  height: auto;
  display: block;
}
.product {
  width: 300px;
  margin: 30px auto;
  position: relative;
  border: 2px solid #000;
}
.procduct-info {
  padding: 15px;
}
.product-img {
  position: relative;
}
.sale-off {
  position: absolute;
  bottom: 10px;
  right: 10px;
  background-color: red;
  padding: 5px;
  border-radius: 5px;
  color: #fff;
  font-size: 18px;
}
.overlay {
  display: none;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  background-color: #00000066;
}
.product:hover .overlay {
  display: block;
}
.product:hover .procduct-info {
  color: #fff;
  background-color: #000;
}
/* .box {
  width: 400px;
  border: 2px solid red;
  margin: 30px auto;
  position: relative;
}
h2 {
  padding: 10px;
  background-color: green;
  border: 1px solid #fff;
  width: 200px;
  color: #fff;
}
.item-2 {
  position: absolute;
  left: 50%;
  top: 0;
  bottom: 0;
  right: 0;
} */
