* {
  padding: 0;
  margin: 0;
  outline: none;
  box-sizing: border-box;
}
html {
  font-family: "Asap", sans-serif;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: #000;
  font-weight: bold;
}
.section {
  padding: 60px 0;
}
.container {
  max-width: 1400px;
  margin: 0 auto;
}
.title {
  margin-bottom: 16px;
  position: relative;
}
.title::after {
  content: "";
  position: absolute;
  display: block;
  width: 61%;
  height: 1px;
  background-color: #ddd;
  right: 0;
  top: 50%;
}
.menu {
  display: flex;
  justify-content: space-around;
}
.menu .item {
  background-color: #e5e5e5;
  padding: 10px 15px;
  border-radius: 35px;
  font-size: 14px;
  text-align: center;
}
.menu .item:nth-child(1) {
  background-color: #ae7b37;
}
.menu .item:nth-child(1) a {
  color: #fff;
}
.menu .item span {
  font-weight: 400;
  font-style: italic;
  font-size: 14px;
  margin-top: 10px;
}
.product {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  flex-wrap: wrap;
}
.product .card {
  position: relative;
  width: 32%;
  height: 100%;
  aspect-ratio: 4/3;
  margin-bottom: 20px;
}
.product .card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5px;
}
.product .card .text {
  position: absolute;
  left: 10%;
  top: 10%;
  color: #fff;
}
.product .card h3 {
  margin-bottom: 200px;
  font-size: 24px;
}
.product .card span {
  font-weight: bold;
  font-size: 20px;
}
