* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: 0;
}

html {
  font-size: 10px;
}

body {
  font-size: 1.6rem;
  color: #2c2c2c;
  line-height: 1.2;
  font-family: "Inter", sans-serif;
}

a {
  text-decoration: none;
  color: #2c2c2c;
}

img {
  max-width: 100%;
  height: auto;
}

ul {
  list-style: none;
}

.container {
  --container-width: 1440px;
}

.align-center {
  align-items: center;
}

.hidden {
  display: none;
}

.padding-top-bottom {
  padding-top: 130px;
  padding-bottom: 130px;
}

.inline-block {
  display: inline-block;
}

.m-25 {
  margin-left: 25%;
}

.t-30 {
  margin-top: 30px;
}

.header {
  box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.15);
}
.header .menu ul {
  display: flex;
  justify-content: flex-end;
}
.header .menu ul li {
  margin: 0 30px;
}
.header .menu ul li a {
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 26px;
}
.header .menu ul li a.active, .header .menu ul li a:hover {
  color: #46b20f;
}
.header .header-icon {
  display: flex;
  justify-content: space-between;
}
.header .header-icon .cart {
  position: relative;
}
.header .header-icon .cart span {
  position: absolute;
  top: -7px;
  right: -7px;
  background-color: #e05000;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  text-align: center;
  font-size: 1.3rem;
  color: #fff;
  font-weight: 500;
  line-height: 20px;
}
.header .header-icon .bar {
  height: 30px;
}
.header .header-icon .bar i {
  font-size: 22px;
  line-height: 30px;
}
.header .row > [class^=col-] {
  margin-bottom: 0;
}

@media (max-width: 1399.9px) {
  .container {
    --container-width: 1200px;
  }
}
@media screen and (max-width: 992px) {
  .header {
    padding: 15px 0;
  }
  .header .col-lg-9 {
    display: none;
  }
  .header .bar {
    display: block;
  }
}
.welcome-section {
  overflow: hidden;
}
.welcome-section .row {
  align-items: center;
  justify-content: center;
}
.welcome-section .row > [class^=col-] {
  margin-bottom: 0;
}
.welcome-section .inner-welcome h2 {
  font-size: 44px;
  font-style: normal;
  font-weight: 800;
  line-height: 131.523%; /* 57.87px */
}
.welcome-section .inner-welcome h1 {
  font-size: 52px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  margin-top: 20px;
}
.welcome-section .inner-welcome p {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24.5px; /* 153.125% */
  margin-top: 32px;
  width: 80%;
}
.welcome-section .right {
  position: relative;
  background-color: #dcffca;
  width: 50vw;
  border-radius: 20px 0px 0px 20px;
}
.welcome-section .right .img-container {
  position: absolute;
  top: 0;
  left: 0;
  translate: -22%;
  width: 95%;
}
.welcome-section .right p {
  padding: 180px 0;
  font-size: 150px;
  font-style: normal;
  font-weight: 800;
  line-height: 100%; /* 200px */
  opacity: 0.150000006;
  rotate: 90deg;
  translate: 25%;
  text-align: center;
}

@media (max-width: 1399.9px) {
  .welcome-section .right .img-container {
    width: 80%;
  }
  .welcome-section .right p {
    font-size: 120px;
  }
}
@media (max-width: 1199.9px) {
  .welcome-section .inner-welcome h2 {
    font-size: 3rem;
  }
  .welcome-section .inner-welcome h1 {
    font-size: 4.4rem;
  }
  .welcome-section .inner-welcome p {
    font-size: 1.3rem;
  }
  .welcome-section .right .img-container {
    width: 90%;
  }
  .welcome-section .right p {
    font-size: 100px;
    padding: 150px 0;
  }
}
@media (max-width: 991.9px) {
  .welcome-section .inner-welcome h2 {
    font-size: 2.2rem;
  }
  .welcome-section .inner-welcome h1 {
    font-size: 3.4rem;
  }
  .welcome-section .inner-welcome p {
    font-size: 1.3rem;
  }
  .welcome-section .right .img-container {
    width: 80%;
  }
  .welcome-section .right p {
    font-size: 80px;
    padding: 100px 0;
  }
}
@media (max-width: 767.9px) {
  .welcome-section .inner-welcome h2 {
    font-size: 2rem;
  }
  .welcome-section .inner-welcome h1 {
    font-size: 2.8rem;
  }
  .welcome-section .inner-welcome p {
    width: 100%;
  }
  .welcome-section .right .img-container {
    width: 80%;
    top: 50%;
    translate: -20% -50%;
  }
}
@media (max-width: 575.9px) {
  .welcome-section .row {
    align-items: flex-start;
    justify-content: flex-start;
    margin-top: 15px;
  }
  .welcome-section .col-6:last-child {
    display: none;
  }
  .welcome-section .inner-welcome p {
    width: 90%;
  }
}
.quanlity-section {
  padding: 120px 0 100px 0;
}
.quanlity-section .row {
  --column-space: 26px;
}
.quanlity-section .row > [class^=col-] {
  margin-bottom: 0;
}
.quanlity-section .row .col-lg-3:nth-child(2) .item {
  height: 471px;
}
.quanlity-section .row .col-lg-3:nth-child(2) .icon-img {
  background-color: #f2ffec;
}
.quanlity-section .heading {
  text-align: center;
}
.quanlity-section .heading h2 {
  font-size: 38px;
  font-style: normal;
  font-weight: 800;
  line-height: 131.523%; /* 49.979px */
}
.quanlity-section .heading-desc {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24.5px; /* 153.125% */
}
.quanlity-section .list-item {
  justify-content: center;
  align-items: center;
  margin-top: 170px;
}
.quanlity-section .item {
  width: 353px;
  height: 405px;
  border-radius: 4px;
  padding: 40px;
  background: var(--white, #fff);
  box-shadow: -7px 10px 87px 0px rgba(54, 54, 54, 0.12);
}
.quanlity-section .item .icon-img {
  width: 100px;
  height: 100px;
  border-radius: 12px;
  background-color: #fff0e7;
  position: relative;
}
.quanlity-section .item .icon-img img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.quanlity-section .item h3 {
  font-size: 52px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  margin-top: 28px;
}
.quanlity-section .item p {
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 37px; /* 154.167% */
  margin-top: 29px;
}

/*# sourceMappingURL=style.css.map */
